@media only screen and (min-width: 641px) {


/*-----NAVIGATION -----*/	
nav ul li a br {display: none;}



/*-----CONTENT -----*/
.col-3, .col-4, .col-6{
    float: left;
}

.col-2{
    width: 33.3333%;
}
.col-3{
    width: 25%;
}

.col-4{
    width: 33.3333%;
}

.col-6{
	width: 50%;
}

} /*end of the media query */